<link href="data/view/Tiet2/A2.3/assets/css/style.css" rel="stylesheet">

    <p class="title"><span>3. </span>Em hát và kết hợp thực hiện các động tác minh họa theo gợi ý ở câu 3, trang 4.</p>
            <div style="text-align:center;padding-top:25px">
                <iframe width="660" height="515" src="https://www.youtube.com/embed/txqH17KZh2Y" frameborder="0" allowfullscreen></iframe>
            </div>
            
            <noscript>
                <p class="error"><em><strong>Notice:</strong> You must have JavaScript enabled/available to try this HTML5 Audio read along.</em></p>
            </noscript>
            <div class="sheet">
                
                <div id="passage-text">
                </div>

            </div>