<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiết 2</title>
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="../../../../assets/css/iseebooks.css" rel="stylesheet">
        <link href="../../../../assets/libs/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="../../../../assets/js/jquery-3.1.1.min.js"></script>
        <script text="text/javascript" src="assets/json/2.t2.cabai.json"></script>
    </head>
    <body>
            <p class="title"><span>2. </span>Em nghe giai điệu để hát và vỗ tay đệm theo đúng chỗ đánh dấu (x) trên bài hát Thật là hay. </p>
            <div class="btn-group" style="position: absolute; top: 56px; left: 323px">
                        <button id="button-play" class="btn btn-info"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                        <button id="btn-repeat" class="btn btn-info" disabled="false"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
            </div>
             <p class="passage-audio">
                <audio id="passage-audio" class="passage">
                    <!-- @todo WebM? -->
                    <source src="media/2.t2.2.mp3" type="audio/mp3">
                    <em class="error"><strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
                </audio>
            </p>
            <p class="passage-audio-unavailable" hidden>
                <em class="error"><strong>Error:</strong> You will not be able to do the read-along audio because your browser is not able to play MP3, Ogg, or WAV audio formats.</em>
            </p>
            <noscript>
                <p class="error"><em><strong>Notice:</strong> You must have JavaScript enabled/available to try this HTML5 Audio read along.</em></p>
            </noscript>
            <div class="sheet">
                
                <div id="passage-text">
                    <table align="center">
                        <tr class="cau1"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>x</td><td>&nbsp;</td><td>x</td>
                        </tr>
                        <tr class="cau2"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>&nbsp;</td><td>xx</td>
                        </tr>
                        <tr class="cau3"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>x</td><td>&nbsp;</td><td>x</td>
                        </tr>
                        <tr class="cau4"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>&nbsp;</td><td>xx</td>
                        </tr>
                        <tr class="cau5"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>x</td><td>&nbsp;</td><td>x</td>
                        </tr>
                        <tr class="cau6"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>&nbsp;</td><td>xx</td>
                        </tr>
                        <tr class="cau7"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>x</td><td>&nbsp;</td><td>x</td>
                        </tr>
                        <tr class="cau8"></tr>
                        <tr>
                            <td>x</td><td>&nbsp;</td><td>x</td><td>&nbsp;</td><td>xx</td>
                        </tr>
                    </table>
                </div>

            </div>
        
        <script src="assets/js/readalong.js"></script>
        <script>
            $(document).ready(function() {
                    var audioBaiHat = $('#passage-audio')[0];
                    var spanTag = ["","","","","","","",""];
				    
                    var count = 0,
                        i = 0,
                        isSoChan = true; // biến dùng để xác định số từ trong câu chẵn hay lẻ
                    $.each(data, function(index, obj) {
                        if(isSoChan){
                            if(count == 6){
                                i++;
                                spanTag[i] += '<td><span danh-phach="'+obj.danhphach+'" data-end="' + obj.end + '" data-begin="' + obj.begin + '" tabindex= "0" data-index="' + index + '" class="">' + obj.word + '</span></td>';
                                count = 1;
                                isSoChan = false;
                            } else{
                                spanTag[i] += '<td><span danh-phach="'+obj.danhphach+'" data-end="' + obj.end + '" data-begin="' + obj.begin + '" tabindex= "0" data-index="' + index + '" class="">' + obj.word + '</span></td>';
                                count++;
                            }
                        }
                        else{
                            if(count == 5){
                                i++;
                                spanTag[i] += '<td><span danh-phach="'+obj.danhphach+'" data-end="' + obj.end + '" data-begin="' + obj.begin + '" tabindex= "0" data-index="' + index + '" class="">' + obj.word + '</span></td>';
                                count = 1;
                                isSoChan = true;
                            } else{
                                spanTag[i] += '<td><span danh-phach="'+obj.danhphach+'" data-end="' + obj.end + '" data-begin="' + obj.begin + '" tabindex= "0" data-index="' + index + '" class="">' + obj.word + '</span></td>';
                                count++;
                            }
                        }
                        console.log(count + ":" +spanTag[i]);
                    });
                    $("#passage-text").find(".cau1").append(spanTag[0]);
                    $("#passage-text").find(".cau2").append(spanTag[1]);
                    $("#passage-text").find(".cau3").append(spanTag[2]);
                    $("#passage-text").find(".cau4").append(spanTag[3]);
                    $("#passage-text").find(".cau5").append(spanTag[4]);
                    $("#passage-text").find(".cau6").append(spanTag[5]);
                    $("#passage-text").find(".cau7").append(spanTag[6]);
                    $("#passage-text").find(".cau8").append(spanTag[7]);
                                        console.log(($('table').find('td')[1].innerHTML == ""));
                    var args = {
                    text_element: $('#passage-text')[0],
                    audio_element: audioBaiHat,
                    hightLightClassName: 'redBg'//,
                    //autofocus_current_word: document.getElementById('autofocus-current-word').checked
                    };
                    document.body.classList.add('initialized');
                    ReadAlong.init(args);
                    $("#button-play").on("click",function(){
                        if(audioBaiHat.paused){
                            audioBaiHat.play();
                            $(this).find("span").attr("class","glyphicon glyphicon-pause");
                            var spanArray = $("#passage-text").find("span");
                            spanArray.removeClass("speaking");
                            for(var i = 0; i < spanArray.length; i++){
                                if(spanArray[i].getAttribute("danh-phach") == "1"){
                                    spanArray[i].classList.add("underline");
                            }
                        }
                        }
                        else {
                            audioBaiHat.pause();
                            $(this).find("span").attr("class","glyphicon glyphicon-play");
                        }
                    });
                    $('#passage-audio').on("ended", function(){
                        $("#button-play").find("span").attr("class","glyphicon glyphicon-play");
                        $("#btn-repeat").attr("disabled","");
                    });
                    $('#passage-audio').on("playing", function(){
                        $("#btn-repeat").removeAttr("disabled");
                    });
                    $('#btn-repeat').on("click", function(){
                        var spanArray = $("#passage-text").find("span");
                        spanArray.removeClass("speaking");
                        audioBaiHat.pause();
                        audioBaiHat.currentTime = 0;
                        audioBaiHat.play();
                    });
                    
            });
        </script>
    </body>
</html>