<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiết 2</title>
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="../../../../assets/css/iseebooks.css" rel="stylesheet">
        <link href="../../../../assets/libs/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="../../../../assets/js/jquery-3.1.1.min.js"></script>
        <script text="text/javascript" src="assets/json/2.t2.cabai.json"></script>
    </head>
    <body>
            <p class="title"><span>3. </span>Em hát và kết hợp thực hiện các động tác minh họa theo gợi ý ở câu 3, trang 4.</p>
            <div style="text-align:center;padding-top:25px">
                <iframe width="660" height="515" src="https://www.youtube.com/embed/txqH17KZh2Y" frameborder="0" allowfullscreen></iframe>
            </div>
            
            <noscript>
                <p class="error"><em><strong>Notice:</strong> You must have JavaScript enabled/available to try this HTML5 Audio read along.</em></p>
            </noscript>
            <div class="sheet">
                
                <div id="passage-text">
                </div>

            </div>
    </body>
</html>