
    <link href="data/view/Tiet2/A2.2/assets/css/style.css" rel="stylesheet">

    <div class="frame">
            <p class="title"><span>2.</span> Em hãy hát bài <em>Thật là hay</em> và vỗ tay vào những lời ca có đánh dấu (x) ở dưới.</p>
            <p class="passage-audio">
                <audio id="passage-audio" class="passage">
                    <!-- @todo WebM? -->
                    <source src="data/view/Tiet2/A2.2/media/2.t2.2.mp3" type="audio/mp3">
                    <em class="error"><strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
                </audio>
            </p>
            <p class="passage-audio-unavailable" hidden>
                <em class="error"><strong>Error:</strong> You will not be able to do the read-along audio because your browser is not able to play MP3, Ogg, or WAV audio formats.</em>
            </p>
            <noscript>
                <p class="error"><em><strong>Notice:</strong> You must have JavaScript enabled/available to try this HTML5 Audio read along.</em></p>
            </noscript>
            <div class="sheet">
                <div id="passage-text">
                    <!-- loi bai hat -->
                    <div class="row-baihat">
                         <div class="reading-img">
                             <img src="data/view/Tiet2/A2.2/images/content1.png" />
                         </div>
                         <div id="reading1" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="0" class="" id="reading-text-1-1">Nghe
                                    <i class="fa fa-fw fa-close fa-new fa-1-1"></i>
                                </span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="1" class="" id="reading-text-1-2">véo</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="2" class="" id="reading-text-1-3">von
                                   <i class="fa fa-fw fa-close fa-new fa-1-3"></i>
                               </span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="3" class="" id="reading-text-1-4">trong
                                   <i class="fa fa-fw fa-close fa-new fa-1-4"></i>
                               </span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="4" class="" id="reading-text-1-5">vòm</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="5" class="" id="reading-text-1-6">cây.
                                   <i class="fa fa-fw fa-close fa-new fa-1-6"></i>
                               </span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="6" class="" id="reading-text-2-1">Họa<i class="fa fa-fw fa-close fa-new fa-2-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="7" class="" id="reading-text-2-2">mi</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="8" class="" id="reading-text-2-3">với<i class="fa fa-fw fa-close fa-new fa-2-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="9" class="" id="reading-text-2-4">chim</span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="10" class="" id="reading-text-2-5">oanh.<i class="fa fa-fw fa-close fa-new fa-2-5"></i></span> 
                         </div>

                         <div class="reading-img">
                             <img src="data/view/Tiet2/A2.2/images/content2.png" />
                         </div>
                         <div id="reading2" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="11" class="" id="reading-text-3-1">Hai<i class="fa fa-fw fa-close fa-new fa-3-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="12" class="" id="reading-text-3-2">chú</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="13" class="" id="reading-text-3-3">chim<i class="fa fa-fw fa-close fa-new fa-3-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="14" class="" id="reading-text-3-4">cao<i class="fa fa-fw fa-close fa-new fa-3-4"></i></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="15" class="" id="reading-text-3-5">giọng</span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="16" class="" id="reading-text-3-6">hót.<i class="fa fa-fw fa-close fa-new fa-3-6"></i></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="17" class="" id="reading-text-4-1">Hót<i class="fa fa-fw fa-close fa-new fa-4-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="18" class="" id="reading-text-4-2">líu</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="19" class="" id="reading-text-4-3">lo<i class="fa fa-fw fa-close fa-new fa-4-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="20" class="" id="reading-text-4-4">vang</span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="21" class="" id="reading-text-4-5">lừng.<i class="fa fa-fw fa-close fa-new fa-4-5"></i></span> 
                         </div>
                          <div class="reading-img">
                             <img src="data/view/Tiet2/A2.2/images/content3.png" />
                         </div>
                         <div id="reading5" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="22" class="" id="reading-text-5-1">Vui<i class="fa fa-fw fa-close fa-new fa-5-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="23" class="" id="reading-text-5-2">rất</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="24" class="" id="reading-text-5-3">vui<i class="fa fa-fw fa-close fa-new fa-5-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="25" class="" id="reading-text-5-4">bay<i class="fa fa-fw fa-close fa-new fa-5-4"></i></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="26" class="" id="reading-text-5-5">từ</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="27" class="" id="reading-text-5-6">xa.<i class="fa fa-fw fa-close fa-new fa-5-6"></i></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="28" class="" id="reading-text-6-1">Chim<i class="fa fa-fw fa-close fa-new fa-6-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="29" class="" id="reading-text-6-2">khuyên</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="30" class="" id="reading-text-6-3">tới<i class="fa fa-fw fa-close fa-new fa-6-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="31" class="" id="reading-text-6-4">hót</span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="32" class="" id="reading-text-6-5">theo<i class="fa fa-fw fa-close fa-new fa-6-5"></i></span> 					   
                         </div>

                          <div class="reading-img">
                             <img src="data/view/Tiet2/A2.2/images/content4.png" />
                         </div>
                         <div id="reading7" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="33" class="" id="reading-text-7-1">Li<i class="fa fa-fw fa-close fa-new fa-7-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="34" class="" id="reading-text-7-2">lí</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="35" class="" id="reading-text-7-3">li,<i class="fa fa-fw fa-close fa-new fa-7-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="36" class="" id="reading-text-7-4">lí<i class="fa fa-fw fa-close fa-new fa-7-4"></i></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="37" class="" id="reading-text-7-5">lì</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="38" class="" id="reading-text-7-5">li.<i class="fa fa-fw fa-close fa-new fa-7-6"></i></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="39" class="" id="reading-text-8-1">Thật<i class="fa fa-fw fa-close fa-new fa-8-1"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="40" class="" id="reading-text-8-2">là</span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="41" class="" id="reading-text-8-3">hay<i class="fa fa-fw fa-close fa-new fa-8-3"></i></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="42" class="" id="reading-text-8-4">hay</span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="43" class="" id="reading-text-8-5">hay<i class="fa fa-fw fa-close fa-new fa-8-5"></i></span>					   
                         </div>
                    </div> 
                </div>
            </div>
            <!--chim minh hoa -->
			  <div class="minhhoa"><img src="data/view/Tiet2/A2.2/images/minhhoa1.png" class="img-left"/><img src="data/view/Tiet2/A2.2/images/minhhoa.png" class="img-right" /></div>
			 <!-- nut bam -->
		   <div class="row-button">
		        <div class="btn-playstop">
				   <div style="display:inline-block;" data-toggle="tooltip" title="Hướng dẫn">
				   <button data-toggle="modal" data-target="#myModal" class="btn btn-success" onclick="" id="">
					<i aria-hidden="true" class="fa fa-fw fa-info font-size"></i>Hướng dẫn
				   </button>
				   </div>
				   <button class="btn btn-info"  id="btnPlay" data-toggle="tooltip" title="Nghe bài hát">
					<i aria-hidden="true" class="fa fa-fw fa-play font-size"></i>Nghe
				   </button>
				   <button disabled class="btn btn-info" id="btnRepeat" data-toggle="tooltip" title="Nghe lại bài hát">
					<i aria-hidden="true" class="fa fa-fw fa-repeat font-size"></i>Nghe lại
				   </button>
			       <button class="btn btn-danger" id="btnRecord" data-toggle="tooltip" title="Thu âm lời hát">
					<i aria-hidden="true" class="fa fa-fw fa-microphone font-size color-1"></i>Thu âm
				   </button>
				    <button disabled class="btn btn-danger" id="btnStopRecord" data-toggle="tooltip" title="Dừng thu âm">
					<i aria-hidden="true" class="fa fa-fw fa-stop font-size color-1"></i>Dừng thu âm
				   </button>
           <audio src="" id="audio"></audio>
			   </div>
		   </div>
	      
		 <!-- modal dialog-->
		 <div id="myModal" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Hướng dẫn</h4>
                  </div>
                  <div class="modal-body">
				     <div class="noidung">
							<img class="hinhdong" src="data/view/Tiet2/A2.2/images/chim.gif" />
							<p class="text">Các em hãy hát lại bài hát và vỗ tay 1 nhịp vào các từ có dấu <strong style="font-size:24px;color:red">(x)</strong> và vỗ tay hai nhịp và từ có hai dấu <strong style="font-size:24px;color:red">(xx)</strong>.</p>
                     </div>
				  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Đóng cửa sổ</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
        </div>
                
        <script text="text/javascript" src="data/view/Tiet2/A2.2/assets/json/2.t2.cabai.json"></script>
        <script src="data/view/Tiet2/A2.2/assets/js/readalong.js"></script>
        <script>
            $(document).ready(function() {
                    var audioBaiHat = $('#passage-audio')[0];
                    var spanTag = $("#passage-text").find('span');
                    $.each(data, function(index, obj) {
                        spanTag[index].setAttribute('danh-phach',obj.danhphach);
                        spanTag[index].setAttribute('data-end',obj.end);
                        spanTag[index].setAttribute('data-begin',obj.begin);
                    });
                 
                    var args = {
                    text_element: $('#passage-text')[0],
                    audio_element: audioBaiHat,
                    hightLightClassName: 'redBg',
                    autofocus_current_word: true
                    };
                    document.body.classList.add('initialized');
                    ReadAlong.init(args);
                
                    $('#passage-audio').on("ended", function(){
                        $("#startAudio").html("Giai điệu bài hát");
                    });
                
                    $("#btnPlay").on("click",function(){
                        if(audioBaiHat.paused){
                            audioBaiHat.play();
                            $(this).find('i').attr("class","fa fa-fw fa-pause font-size");
                            var spanArray = $("#passage-text").find("span");
                            spanArray.removeClass("speaking");
                            for(var i = 0; i < spanArray.length; i++){
                                if(spanArray[i].getAttribute("danh-phach") == "1"){
                                    spanArray[i].classList.add("underline");
                            }
                        }
                        }
                        else {
                            audioBaiHat.pause();
                            $(this).find('i').attr("class","fa fa-fw fa-play font-size");
                        }
                    });
                
                    $('#passage-audio').on("ended", function(){
                        $("#btnPlay").find('i').attr("class","fa fa-fw fa-play font-size");
                        $("#btnRepeat").attr("disabled","");
                    });
                
                    $('#passage-audio').on("playing", function(){
                        $("#btnRepeat").removeAttr("disabled");
                    });

                    $('#btnRepeat').on("click", function(){
                        $("#btnPlay").find('i').attr("class","fa fa-fw fa-pause font-size");
                        var spanArray = $("#passage-text").find("span");
                        spanArray.removeClass("speaking");
                        audioBaiHat.pause();
                        audioBaiHat.currentTime = 0;
                        audioBaiHat.play();
                    });

                    $('#btnRecord').on("click", function(){
                        $(this).attr('disabled','');
                        $('#btnStopRecord').removeAttr('disabled');
                        Fr.voice.record(function(){
                          analyser = Fr.voice.context.createAnalyser();
                          analyser.fftSize = 2048;
                          analyser.minDecibels = -90;
                          analyser.maxDecibels = -10;
                          analyser.smoothingTimeConstant = 0.85;
                          Fr.voice.input.connect(analyser);
                        });
                    });

                      
                    $('#btnStopRecord').on("click", function(){
                        $(this).attr('disabled','');
                        $('#btnRecord').removeAttr('disabled');
                        Fr.voice.export(function(url){
                          $("#audio").attr("src", url);
                          $("#audio")[0].play();
                        }, "URL");
                        Fr.voice.stop();
                    });
            });
        </script>