        <link href="data/view/Tiet2/A1/assets/css/style.css" rel="stylesheet">

        <div class="frame">
             <p class="title-baihat">Thật là hay<br><em>Nhạc và lời: Hoàng Lân</em></p>
             <p class="passage-audio">
                <audio id="passage-audio" class="passage">
                    <!-- @todo WebM? -->
                    <source src="" type="audio/mp3">
                    <em class="error"><strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
                </audio>
            </p>
            <p class="passage-audio-unavailable" hidden>
                <em class="error"><strong>Error:</strong> You will not be able to do the read-along audio because your browser is not able to play MP3, Ogg, or WAV audio formats.</em>
            </p>
            <noscript>
                <p class="error"><em><strong>Notice:</strong> You must have JavaScript enabled/available to try this HTML5 Audio read along.</em></p>
            </noscript>
            <div class="sheet"> 
                <div id="passage-text">
                        <!-- loi bai hat -->
                    <div class="row-baihat">
                         <div class="reading-img">
                             <img src="data/view/Tiet2/A1/images/1.png" />
                         </div>
                         <div id="reading1" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="0" class="" id="reading-text-1-1"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="1" class="" id="reading-text-1-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="2" class="" id="reading-text-1-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="3" class="" id="reading-text-1-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="4" class="" id="reading-text-1-5"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="5" class="" id="reading-text-1-6"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="6" class="" id="reading-text-2-1"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="7" class="" id="reading-text-2-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="8" class="" id="reading-text-2-3"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="9" class="" id="reading-text-2-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="10" class="" id="reading-text-2-5"></span>
                         </div>

                         <div class="reading-img">
                             <img src="data/view/Tiet2/A1/images/2.png" />
                         </div>
                         <div id="reading2" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="11" class="" id="reading-text-3-1"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="12" class="" id="reading-text-3-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="13" class="" id="reading-text-3-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="14" class="" id="reading-text-3-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="15" class="" id="reading-text-3-5"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="16" class="" id="reading-text-3-6"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="17" class="" id="reading-text-4-1"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="18" class="" id="reading-text-4-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="19" class="" id="reading-text-4-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="20" class="" id="reading-text-4-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="21" class="" id="reading-text-4-5"></span> 
                         </div>
                          <div class="reading-img">
                             <img src="data/view/Tiet2/A1/images/3.png" />
                         </div>
                         <div id="reading5" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="22" class="" id="reading-text-5-1"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="23" class="" id="reading-text-5-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="24" class="" id="reading-text-5-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="25" class="" id="reading-text-5-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="26" class="" id="reading-text-5-5"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="27" class="" id="reading-text-5-6"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="28" class="" id="reading-text-6-1"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="29" class="" id="reading-text-6-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="30" class="" id="reading-text-6-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="31" class="" id="reading-text-6-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="32" class="" id="reading-text-6-5"></span> 					   
                         </div>

                          <div class="reading-img">
                             <img src="data/view/Tiet2/A1/images/4.png" />
                         </div>
                         <div id="reading7" class="row-text">
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="33" class="" id="reading-text-7-1"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="34" class="" id="reading-text-7-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="35" class="" id="reading-text-7-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="36" class="" id="reading-text-7-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="37" class="" id="reading-text-7-5"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="38" class="" id="reading-text-7-5"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="39" class="" id="reading-text-8-1"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="40" class="" id="reading-text-8-2"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="41" class="" id="reading-text-8-3"></span> 
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="42" class="" id="reading-text-8-4"></span>
                               <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="43" class="" id="reading-text-8-5"></span>					   
                         </div>
                    </div> 
                    </div>    
                </div>
            <!-- cau hat ---->
			<div class="row-cauhat">
			    <button class="btn btn-primary" id="ngheCau1" >Câu 1</button>
				<button class="btn btn-primary" id="ngheCau2" >Câu 2</button>
				<button class="btn btn-primary" id="ngheCau1va2" >Câu 1 và 2</button>
				<button class="btn btn-primary" id="ngheCau3" >Câu 3</button>
				<button class="btn btn-primary" id="ngheCau4" >Câu 4</button>
                <button class="btn btn-primary" id="ngheCau3va4" >Câu 3 và 4</button>
			</div>
			<!--chim minh hoa -->
			  <div class="minhhoa"><img src="data/view/Tiet2/A1/images/minhhoa1.png" class="img-left"/><img src="data/view/Tiet2/A1/images/minhhoa.png" class="img-right" /></div>
			 <!-- nut bam -->
		   <div class="row-button">
		        <div class="btn-playstop">
				   <button class="btn btn-info" id="startAudio" data-toggle="tooltip" title="Nghe cả bài">
					<i aria-hidden="true" class="fa fa-fw fa-play font-size"></i>Cả bài
				   </button>
				   <a class="btn btn-info" via-link via-href="Tiet2_ngheNhacDem" data-toggle="tooltip" title="Nghe cả bài và nhạc">
					<i aria-hidden="true" class="fa fa-fw fa-music font-size"></i>Cả bài & nhạc
				   </a>
			        <button class="btn btn-info" id="hatVoTay" data-toggle="tooltip" title="Nghe cả bài và nhạc kết hợp vỗ tay">
					<i aria-hidden="true" class="fa fa-fw fa-music font-size"></i>Cả bài & nhạc & vỗ tay
				   </button>
				    <a class="btn btn-info" via-link via-href="Tiet2_ngheNhacVaLoi" data-toggle="tooltip" title="Nghe bài hát mẫu">
					<i aria-hidden="true" class="fa fa-fw fa-music font-size"></i>Bài hát mẫu
				   </a>
			   </div>
		   </div>
            
        </div>
        <script text="text/javascript" src="data/view/Tiet2/A1/assets/json/2.t2.cabai.json"></script>
        <script src="assets/js/readalong.js"></script>
        <script src="data/view/Tiet2/A1/assets/js/xulynut.js"></script>
        <script>
            var myTime;
            $(document).ready(function() {
                var audioBaiHat = $('#passage-audio')[0],
                    spanTag = $("#passage-text").find('span'),
                    args = {
                        text_element: $('#passage-text')[0],
                        audio_element: audioBaiHat,
                        hightLightClassName: 'redBg',
                        autofocus_current_word: true
                    };
                    xuLyNut(audioBaiHat);
                    $.each(data, function(index, obj) {
                        spanTag[index].setAttribute('danh-phach',obj.danhphach);
                        spanTag[index].setAttribute('data-end',obj.end);
                        spanTag[index].setAttribute('data-begin',obj.begin);
                        spanTag[index].innerHTML = obj.word;
                    });
                    document.body.classList.add('initialized');
                    ReadAlong.init(args);  
            });
        </script>
