<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiết 2</title>
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="../../../../assets/libs/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">;
        <script type="text/javascript" src="../../../../assets/js/jquery-3.1.1.min.js"></script>
        <script text="text/javascript" src="assets/json/2.t2.cabai.json"></script>
    </head>
    <body>
            <h3 style="color:cyan;">THẬT LÀ HAY</h3>
            <img src="images/h1.jpg" style="width: 100%"/>
            <div class="buttonAudio">
                <span class="btn btn-danger" id="startAudio">Giai điệu bài hát</span>
                <span class="btn btn-danger" id="ngheCau1">Câu 1</span>
                <span class="btn btn-danger" id="ngheCau2">Câu 2</span>
                <span class="btn btn-danger" id="ngheCau1va2">Câu 1&2</span>
                <span class="btn btn-danger" id="ngheCau3">Câu 3</span>
                <span class="btn btn-danger" id="ngheCau4">Câu 4</span>
                <span class="btn btn-danger" id="ngheCau3va4">Câu 3&4</span>
                <span class="btn btn-danger" id="hatVoTay">Hát & vỗ tay</span>
            </div>
             <p class="passage-audio">
                <audio id="passage-audio" class="passage">
                    <!-- @todo WebM? -->
                    <source src="" type="audio/mp3">
                    <em class="error"><strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
                </audio>
            </p>
            <p class="passage-audio-unavailable" hidden>
                <em class="error"><strong>Error:</strong> You will not be able to do the read-along audio because your browser is not able to play MP3, Ogg, or WAV audio formats.</em>
            </p>
            <noscript>
                <p class="error"><em><strong>Notice:</strong> You must have JavaScript enabled/available to try this HTML5 Audio read along.</em></p>
            </noscript>
            <div class="sheet">
                
                <div id="passage-text">
                    <div class="doan1">
                        <img class="khungnhac1" src="images/1.jpg"/>
                        <p class="cau1">
                            <span danh-phach="" data-end="" data-begin="0" tabindex="0" data-index="0" class=""></span>
                            <span style="padding-left: 10px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="1" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="2" class=""></span>
                            <span style="padding-left: 14px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="3" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="4" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="5" class=""></span>
                            <span style="padding-left: 20px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="6" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="7" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="8" class=""></span>
                            <span style="padding-left: 20px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="9" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="10" class=""></span>
                        </p>
                    </div>
                    <div class="doan2">
                        <img class="khungnhac2" src="images/2.jpg"/>
                        <p class="cau2">
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="11" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="12" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="13" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="14" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="15" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="16" class=""></span>
                            <span style="padding-left: 30px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="17" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="18" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="19" class=""></span>
                            <span style="padding-left: 25px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="20" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="21" class=""></span>
                        </p>
                    </div>
                    <div class="doan3">
                        <img class="khungnhac3" src="images/3.jpg"/>
                        <p class="cau3">
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="22" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="23" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="24" class=""></span>
                            <span style="padding-left: 35px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="25" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="26" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="27" class=""></span>
                            <span style="padding-left: 40px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="28" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="29" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="30" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="31" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="32" class=""></span>
                        </p>
                    </div>
                    <div class="doan4">
                        <img class="khungnhac4" src="images/4.jpg"/>
                        <p class="cau4">
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="33" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="34" class=""></span>
                            <span style="padding-left: 20px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="35" class=""></span>
                            <span style="padding-left: 55px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="36" class=""></span>
                            <span style="padding-left: 16px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="37" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="38" class=""></span>
                            <span style="padding-left: 58px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="39" class=""></span>
                            <span danh-phach="" data-end="" data-begin="" tabindex="0" data-index="40" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="41" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="42" class=""></span>
                            <span style="padding-left: 15px;" danh-phach="" data-end="" data-begin="" tabindex="0" data-index="43" class=""></span>
                            </p>
                    </div>
                </div>

            </div>
        
        <script src="../../../../assets/js/readalong.js"></script>
        <script src="assets/js/xulynut.js"></script>
        <script>
            $(document).ready(function() {
                    var audioBaiHat = $('#passage-audio')[0];
                    var spanTag = $("#passage-text").find('span');
                    $.each(data, function(index, obj) {
                        spanTag[index].setAttribute('danh-phach',obj.danhphach);
                        spanTag[index].setAttribute('data-end',obj.end);
                        spanTag[index].setAttribute('data-begin',obj.begin);
                        spanTag[index].innerHTML = obj.word;
                    });
                 
                    var args = {
                    text_element: $('#passage-text')[0],
                    audio_element: audioBaiHat,
                    hightLightClassName: 'redBg'//,
                    //autofocus_current_word: document.getElementById('autofocus-current-word').checked
                    };
                    document.body.classList.add('initialized');
                    ReadAlong.init(args);
                    BtnProcess.init(audioBaiHat);
                
                    $('#passage-audio').on("ended", function(){
                        $("#startAudio").html("Giai điệu bài hát");
                    });
            });
        </script>
    </body>
</html>